<!DOCTYPE html>
<html>
<head>
    <style>
        body, html {
            height: 100%;
        }

        .parallax {
            /* The image used */
            background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg');

            /* Full height */
            height: 100%;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
    <link rel="manifest" href="../favicons/manifest.json">
    <meta name="theme-color" content="#bdb95e">





    <title>Usa.Advayta</title>

    <!-- Bootstrap core CSS
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap/js/bootstrap.min.js" rel="stylesheet">
    <link href="../vendor/MDB-Free/css/mdb.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template
    <link href="../css/modern-business.css" rel="stylesheet">-->
    <link href="../public/css/mystyles.css" rel="stylesheet">
</head>
<body>
<div>

    <h1>navbar Example</h1>

    <nav role="navigation">

        <div class="container-fluid">

            <!-- Navigation bar -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav" >

                    <li class="active"><a href="#" >Home</a></li>

                    <li class="dropdown">

                        <a href="#" data-toggle="dropdown">Products <b></b></a>

                        <ul class="dropdown-menu">

                            <li><a href="#">Product 1</a></li>

                            <li><a href="#">Product 2</a></li>

                            <li><a href="#">Product 3</a></li>

                            <li class="divider"></li>

                            <li><a href="#">Product 4</a></li>

                            <li class="divider"></li>

                            <li><a href="#">Product 5</a></li>

                        </ul>

                    </li>

                    <li><a href="#">Special Offers</a></li>

                    <li><a href="#">Services</a></li>

                    <li><a href="#">About</a></li>

                    <li><a href="#">Contact</a></li>

                </ul>

                <form class="navbar-form navbar-left" role="search">

                    <div class="form-group">

                        <input type="text" placeholder="Search site">

                    </div>

                    <button type="submit">Go</button>

                </form>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

    </nav>

</div>



<p>Hello</p>
<div class="parallax"></div>

<div style="height:200px;background-color:red;font-size:36px">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

<div class="parallax"></div>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="../public/images/brand.png" alt="Los Angeles">
        </div>

        <div class="item">
            <img src="../public/images/brand.png" alt="Chicago">
        </div>

        <div class="item">
            <img src="../public/images/brand.png" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</body>
</html>
